*{
	font-weight: lighter;
	
}
.analysis-hero {
	height: 200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 5px;
}

h3 {
	text-align: center;
}
ul {
	list-style-position: inside;
	padding-left: 0;
}
li {
	padding: 10px 0;
}

.analysis-content {
	text-align: center;
	padding: 20px 30px;
}
.analysis h3 {
	color: var(--primaryColor);
	font-weight: lighter;
}

.financial-research {
	background-color: var(--primaryColor);
	color: white;
	padding: 20px 15px;

}

.financial-research a {
	color: white;
}
.financial-research a:hover {
	color: var(--secondaryColor);
	text-decoration: underline;
}

.banking-profile {
	padding: 20px 15px;

}
.banking-profile h3 {
	color: var(--primaryColor);
}

.banking-profile a {
	color: var(--primaryColor);
}

.america-banks {
	background-color: var(--primaryColor);
	color: white;
	padding: 20px 15px;
}

.america-banks a {
	color: white;

}
.america-banks a:hover {
	color: var(--secondaryColor);
}

.carousel {
	position: relative;
}  
.carousel-indicators {
	bottom: -70px;
}
.additional-links {
	height: 400px;
	padding: 30px 25px;
	color: var(--primaryColor);
}
.additional-links .carousel-item h5 a {
	color: var(--primaryColor);
}
.additional-links .carousel-item p a {
	color: black;
}
.carousel-indicators li {
	cursor: pointer;
  height: 10px;
  width: 25px;
  background-color: white;
	border: 1px solid var(--primaryColor);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; 
}

.carousel-indicators .active {
	background-color: var(--primaryColor);
}
.carousel-indicators li:hover {
	background-color: lightgrey;
}
.additional-links .carousel-item {
	text-align: center;
}
.additional-links .carousel-indicators a {
	display: block;
}

.featured {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 450px;
}

.featured h3 {
	color: var(--primaryColor);
}
.featured img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

.featured p {
	color	: var(--secondaryColor)
}
.featured a {
	color: var(--primaryColor);
}
