.breadcrumb {
	margin-top: 50px;
	background-color: white;
	padding: 10px;
}
.breadcrumb a {
	color: var(--primaryColor);
}
h3 {
	text-align: center;
}
.light h3 {
	color: var(--primaryColor);
}
.dark h3 {
	color: white;
}
.carousel {
	position: relative;
}  
.carousel-indicators {
	bottom: -70px;
}

.light .carousel-indicators li {
	cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: white;
	border: 1px solid var(--primaryColor);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; 
}

.light .carousel-indicators .active {
	background-color: var(--primaryColor);
}
.light .carousel-indicators li:hover {
	background-color: var(--primaryColor);
}


.dark .carousel-indicators li {
	cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: var(--primaryColor);
	border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; 
}
.dark  .carousel-indicators .active {
	background-color: white;
}
.dark .carousel-indicators li:hover {
	background-color: white;
}
.news-main {
	text-align: center;
	margin-top: 50px;
	padding: 20px 30px;
}

.p-color {
	color: var(--secondaryColor);
	padding-top: 20px;
}


.news-section1 {
	padding: 70px 30px 30px 30px;
	margin-bottom: 70px;
}
.news-section1 img {
	margin: 0 auto;
	width: 100%;
	height: 250px;
}
.news-section1 a {
	color: var(--primaryColor);
}



.calendar {
	background-color: var(--primaryColor);
	color: white;
	padding: 30px 20px;
	height: 270px;
}

.calendar a {
	color: white;
}

.press-releases {
	margin-bottom: 70px;
	padding: 40px 30px;
}

.press-releases h3 {
	color: var(--primaryColor);
	text-align: center;
}

.press-releases a {
	color: var(--primaryColor);
}


.videos {
	background-color: var(--primaryColor);
	padding: 40px 20px;
	color: white;
	height: 900px;
}
.videos h3 {
	color: white;
	text-align: center;
}
.videos a {
	color: white;

}
.videos-content img {
	margin: 0 auto;
	width: 100%;
	padding: 30px 0;

}
.videos-content a:hover {
	color: var(--secondaryColor);
}

.videos-carousel {
	padding-top: 100px;

}
.videos-carousel img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	padding-bottom: 30px;
}

.podcast {
	padding: 30px 15px;

}
.podcast h3 {
	text-align: center;
	color: var(--primaryColor);
	font-size: 2rem;
}
.podcast-image {
	padding-top: 40px;
	padding-bottom: 20px;
	width: 100%;
	margin: 0 auto;
}

.podcast-icons {
	margin: 0 auto;
}
.podcast-icons img {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.podcast-content {
	padding-top: 30px;
}

.podcast-content a {
	color: var(--primaryColor);
	text-decoration: underline;
}

.speeches {
	padding: 30px;
	background-color: var(--primaryColor);
	height: 320px;
}
.speeches h3 {
	color: white;
	text-align: center;
}

.speeches a {
	color: white;
}

.institution-letters {
	margin-bottom: 70px;
	padding: 30px;
}
.institution-letters h3 {
	color: var(--primaryColor);
	text-align: center;
	padding-bottom: 30px;
}

.institution-letters a {
	color: var(--primaryColor);
	padding-top: 30px;
}
@media screen and (max-width: 768px) {
	.breadcrumb {
		margin-top: 0;
	}
	.news-section1-lg {
		display: none;
	}
	.videos-carousel-lg {
		display: none;
	}
}


@media screen and (min-width: 769px) {
	main p {
		line-height: 1.6rem;
		font-size: 1.4rem;
	}
	.main h3 {
		font-size: 2.5rem;
	}
	.line-break {
		display: block;
	}
	
	.news-main {
		padding-bottom: 30px;
	}
	.news-content {
		padding: 30px 120px;
	}
	.news-section1 {
		display: none;
	}
	.news-section1-lg {
		padding: 50px 100px;
	}
	.news-section1-lg img {
		margin: 0 auto;
		width: 100%;
		height: 250px;
	}
	.news-section1-lg a {
		color: var(--primaryColor);
	}
	.news-main h3 {
		padding: 20px 0;
		text-align: center;
		font-size: 2.5rem;
	}

	.calendar {
		background-image: url(img/fdic-news-calendar-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
		
	}
	.press-releases {
		height: 300px;
	}
	.news-align {
		margin: 0 auto;
		padding-left: 30%;
		padding-right: 30%;
	}
	.videos {
		padding-left: 80px;
		padding-right: 50px;
	}
	.videos h3 {
		font-size: 2.5rem;
	}
	.vc-text {
		padding-top: 50px;
	}
	.vc-text a {
		text-decoration: underline;
		font-size: 1.4rem;
	}
	.videos-carousel {
		display: none;
	}
	.videos-carousel-lg {
		padding-top: 100px;
	}
	.videos-carousel-lg .card {
		height: 300px;
	}
	.videos-carousel-lg p {
		color: var(--secondaryColor);
	}
	.videos-carousel-lg a {
		color: var(--primaryColor);
	}


	.podcast {
		padding: 30px 120px
	}
	.podcast-image {
		padding-right: 30px;
	}
	.podcast-text {
		padding-top: 50px;
		padding-left: 30px;
	}
	.podcast h3 {
		font-size: 2.5rem;
	}
	.podcast p {
		color: #444343;
		line-height: 1.5;
		font-size: 1.2rem;
	}
	.speeches {
		background-image: url(img/fdic-news-testimony-bg-top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
	.institution-letters {
		height: 300px;
	}
}
